body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    text-align: center;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: blue;
    color: azure;
    padding-top: 25px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #5a5656;
}

section {
    margin-left: 270px;
    padding: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}
